# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
*.exe
*.out
*.app
*.rdb

# Xcode
.DS_Store
*/build/*
xcuserdata
profile
DerivedData
.idea/
*.hmap
__pycache__/
env/*
env/
.vscode
log.txt
build/
medias/
logs/
tags
*.swp


#svn文件夹忽略
.svn/

#CocoaPods
Pods

#Python
*.pyc
celerybeat-schedule.db


#Java
*.class

# Package Files #
*.jar
*.war
*.ear

